@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #fb5092;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ec4c8a;
  padding: 10px 0;
  text-align: center;
}

.detailHeader {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.detailHeader img {
  height: 30px;
}

.intro {
  background-color: #fb5092;
  height: 170px;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.intro img {
  height: 110px;
  width: 110px;
}

.title {
  background-color: #ec4c8a;
  font-size: 1em;
}

.crypto-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.crypto-item img {
  width: 30px;
}

li:nth-child(even) {
  background-color: #ec4c8a !important;
}

.evenItem {
  background-color: #ec4c8a !important;
}

.crypto-meta {
  display: flex;
  gap: 10px;
}
